Create New Offer
= form_for Offer.new do |f|
  %p
    = f.label :name, "Offer name"
    = f.text_field :name
  %p
    = f.label :product_id, "Product ID"
    = f.text_field :product_id
  %p
    = f.label :description, "Offer description"
    = f.text_area :description
  %p
    = f.label :rpa, "Cost per conversion (CPA)"
    - val = number_with_precision f.object.cost, :precision => 2
    = f.text_field :rpa, :value => (val || 0)
  %p
    = f.label :ad_type, "Ad type"
    = f.select :ad_type, [["Banner", 'banner'], ["Form type 1", 'form_1']]
  %p
    = f.label :offer_file, "Asset file"
    = f.file_field :offer_file
  %p
    = f.submit "Create offer"
