%p
  %h3
    Basic offer information
  = render :partial => "offer"
%p
  %h3
    Click tracking information
  = render :partial => "click"
=#%p
=#  %h3
=#    HasOffers API information
=#  = render :partial => "hasoffers"

%p
  %h3
    Buy something
  %br
  = form_tag "/offers/convert", :affiliate_id => @affiliate_id, :offer_id => @offer.id do
    = label_tag :amount, "Amount to buy"
    = text_field_tag :amount
    %br
    = submit_tag "Buy!"
